.file-explorer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.file-explorer-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.file-explorer {
  font-family: Arial, sans-serif;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.file-item {
  padding: 0 10px 0 20px;
  cursor: pointer;
  border: 1px dotted #ddd;
  margin: 10px 0;
  border-radius: 4px;
}

.folder-icon,
.file-icon {
  margin-right: 8px;
}

.folder-contents {
  margin-left: 20px;
  border-left: 1px dotted #ccc;
  padding-left: 10px;
}

.selected {
  background-color: #e0f7fa;
  border-radius: 4px;
  border: 1px solid #00796b;
}

.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.context-menu button {
  display: block;
  width: 100%;
  padding: 4px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.context-menu button:hover {
  background-color: #f0f0f0;
}